.view {
    -fx-background-color: theme-background-interactable;
}

.view .label {
    -fx-text-fill: theme-text-color;
}

.container,
.tree-view.container .tree-cell,
.list-view.container .list-cell {
    -fx-background: theme-background-container;
    -fx-background-color: theme-background-container;
    -fx-border-width: 0;
}

.tree-view.container .tree-cell:selected,
.list-view.container .list-cell:selected {
    -fx-background-color: theme-selection-color;
}

.list-view.container .list-cell:filled {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: theme-cell-seperator-color;
}

.split-pane {
    -fx-border-width: 0;
    -fx-background-color: theme-background-layout;
}

.split-pane:horizontal > .split-pane-divider,
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: theme-background-layout;
}

.button {
    -fx-text-fill: theme-control-text;
    -fx-background-color: theme-control-background;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: theme-control-background-hover;
}

.title-label {
    -fx-font-weight: bolder;
    -fx-padding: 0 0 0.2em 0;
}

.details-label {
    -fx-font-size: small;
}

.scroll-bar:horizontal,
.scroll-bar:vertical,
.scroll-pane > .corner {
    -fx-background-color: theme-background-container;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: theme-control-background;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: theme-control-background;
    -fx-background-radius: 5em;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: theme-background-interactable;
}

.tab-pane .tab {
    -fx-background-color: theme-control-background;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.tab-pane .tab .tab-label {
    -fx-text-fill: theme-control-text;
}

.tab-pane .tab:selected
{
    -fx-background-color: theme-background-container;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.combo-box {
    -fx-background-color: theme-control-background;
    -fx-border-color: theme-control-background;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-border-width: 0;
}

.combo-box .text-field {
    -fx-text-fill: theme-control-text;
    -fx-background-color: theme-background-interactable;
}

.combo-box .combo-box-popup .list-view,
.combo-box .combo-box-popup .list-cell {
    -fx-background-color: theme-control-background;
    -fx-text-fill: theme-text-color;
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: theme-text-color;
    -fx-background-color: theme-background-interactable;
}

.combo-box .arrow-button {
    -fx-background-color: theme-control-background;
}

.combo-box .arrow {
    -fx-background-color: theme-text-color;
}

.combo-box .list-cell {
    -fx-text-fill: theme-text-color;
}

.text-field {
    -fx-text-fill: theme-control-text;
    -fx-background-color: theme-background-interactable;
    -fx-border-color: theme-control-background;
}

.context-menu {
    -fx-background-color: theme-background-interactable;
    -fx-text-fill: theme-control-text;
}

.menu-item .label {
    -fx-text-fill: theme-control-text;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: theme-background-container;
}