* {
    theme-text-color: #ececec;

    theme-background-layout: #000000;
    theme-background-interactable: #424242;
    theme-background-container: #5f5f5f;

    theme-control-background: #111111;
    theme-control-background-hover: #2f2f2f;
    theme-control-text: #ffffff;

    theme-corner-radius: 0;

    theme-contrast-color-highlight: #ffffff;
    theme-contrast-color-low: #000000;

    theme-video-track-background: rgba(0, 255, 163, 0.4);
    theme-video-track-background-hover: rgba(0, 255, 163, 0.6);
    theme-video-track-selected-background: rgba(0, 255, 163, 0.8);

    theme-selection-color: rgb(72, 119, 135);

    theme-cell-seperator-color: theme-background-interactable;
}